
<body bgcolor="white" text="black" link="blue" vlink="green" lang="en">
    <p><a href="http://127.0.0.1:8000/">Home</a>
    <a href="http://127.0.0.1:8000/hh/"> Welcome visitor</a>
    <a href="http://127.0.0.1:8000/about/"> About</a>
    <a href="http://127.0.0.1:8000/temp/">Count Words again</a></p>
    
    <hr>

<h1>There are {{num}} words in the text.</h1> 
<h2> The text is: </h2>
<h3>{{fulltext}}</h3>

<h2>In detail: </h2>
{% for w,n in numword %}
{{ w }} - {{ n }} <br>
{%endfor%}

</body>