

<body bgcolor="white" text="black" link="blue" vlink="green" lang="en">
    <p><a href="http://127.0.0.1:8000/">Home</a>
        <a href="http://127.0.0.1:8000/about/"> About</a>
    <a href="http://127.0.0.1:8000/hh/"> Welcome visitor</a></p>
    <hr>


<h1>This is it</h1>
<p>i want to say that it is very good</p>
<p>i need to practice my <b>typing</b></p>

<form action="{% url 'conte' %}">
  <textarea cols="50" rows="10" name='fulltext'></textarea>
  <br>
  <input type="submit" value="Start" />

</form>
<br>

</body>